<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      <Application
    xmlns:hc="https://handyorg.github.io/handycontrol">
        <Application.Resources>
          <ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>
              <hc:ThemeResources/>
              <hc:Theme/>
              <!-- Other merged dictionaries here -->
            </ResourceDictionary.MergedDictionaries>
            <!-- Other app resources here -->
          </ResourceDictionary>
        </Application.Resources>
      </Application>

    </startup>

</configuration>
